.editorWithoutToolbar{
  :global(.redactor-toolbar-wrapper){
    display: none;
  }
}

.editor {
  :global(.redactor-box){
      min-height: 200px;
  > :global(.redactor-source){
    min-height: 200px;
    }
    :global(.redactor-toolbar-wrapper){
      background-color:  #eeeeee;
      text-align: center;
      > :global(.redactor-toolbar){
        padding: 5px 0px;
      }
    }
  }
}
