.dropdownToggle {
  background: none;
  border: 1px solid #aaa !important;
  width: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.dropdownMenu {
  max-height: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  margin-left: 0.75rem;
}

.dataItem {
  margin: 0.1rem 0;
  background: #add8e650;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
}

.dataItem img {
  height: 1rem;
  margin-right: 0.5rem;
  width: 1rem;
}